on: 
    issues:
        types: [opened, edited, milestoned]

jobs:
  test:
    runs-on: ubuntu-latest
    name: A job to say hello
    steps:
    - name: GitHub Contribution Report Generator
      uses: ros-tooling/github-contribution-report-generator@0.0.7
    
